body{
    background-color: rgb(113, 241, 241);
}
nav{
    border-radius: 10px;
}
/* @media (max-width: 991.98px) {
    img{
        max-width: 100px;
        height: auto;
    }
}
@media (min-width: 992px) {
    img{
        max-width: 400px;
        height: auto;
    } */
img{
    max-width: 400px;
    width: 80%;
    height: auto;
}
.nav-link{
    color: black;
    
}


.gamepreview{
    margin-top: 20px;
    
}

.gamepreview > div{
    margin: 15px;
}



.description{
    font-family: sans-serif;
}

.checked{
    color:orange
}

.image-w-header{
    display: flex;
    flex-direction: column;
}
.game-title{
    font-size:45px;
    display: flex;
    justify-content: center;
    background-color: blue;
    color: beige;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    border-radius: 30px;
}

.searching-form{
    margin-left: 20px;
}

.col-sm {
    text-align: center !important;
}


#search-line{
    font-size: 20px;
}

#search-word{
    width: 50%;
    border-radius: 10px;
}

#search-form{
    margin: 3% 1% 10% 10%
}

